<div class="separate">
  <div mat-dialog-content class="padding">
    <h2 class="align-title">User registration form</h2>
    <form [formGroup]="userForm" class="form-center padding" ngxsForm="app.userForm">
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Enter our name</mat-label>
          <input matInput placeholder="John Snow"  type="text" formControlName="name" required>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" type="email" formControlName="email" required>
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="email.invalid">Not a valid email</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Phone number</mat-label>
          <input matInput type="tel" formControlName="phone" required>
          <mat-icon matSuffix>phone</mat-icon>
          <mat-hint>Include area code</mat-hint>
        </mat-form-field>
      </p>
    </form>
  </div>
  <div mat-dialog-actions class="space-evenly">
    <button mat-button (click)="cancel()" cdkFocusInitial>Cancel</button>
    <button mat-button (click)="confirm()" cdkFocusInitial>Confirm</button>
  </div>
</div>