<mat-horizontal-stepper linear="true" #stepper class="bg-color">
  <mat-step [stepControl]="stepOneForm">
    <form [formGroup]="stepOneForm">
      <div class="display">
        
        <div class="center">
          <div class="introduction mat-display-2 font-style">
            <mat-chip class="font-style" color="primary" selected>NGXS</mat-chip> restaurants near <em>you</em> </div>
        </div>
          <app-view-restaurant></app-view-restaurant>
        <button mat-raised-button matStepperNext
          class="end-of-page"
          color="primary">
          Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="stepTwoForm">
    <form [formGroup]="stepTwoForm">
      <div>
        <div class="display">
        
          <div class="center" *ngIf="restaurant$ | async as restaurant">
            <div class="introduction mat-display-2 font-style">
              <div class="uppercase">{{restaurant.name | uppercase}}</div> </div>
          </div>
          <app-view-menu></app-view-menu>

          <button mat-raised-button matStepperNext
            class="end-of-page"
            color="primary">Next</button>
          <button mat-raised-button matStepperPrevious
            class="end-of-page"
            color="primary">Back</button>
        </div>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>