.center
  padding-top: 5%
  width: 1100px
  margin-left: auto
  margin-right: auto
  align-content: center
  text-align: center
  font-size: 30px
  line-height: 30px

.display
  width: 1100px
  margin-left: auto
  margin-right: auto
  line-height: 30px

::ng-deep .mat-horizontal-stepper-header-container 
  display: none !important

.introduction 
  margin-bottom: 50px

.place
  font-style: italic
  color: cornflowerblue

.start
  margin-bottom: 20px

.bg-color
  background-color: #ECECEC