<div class="sidenav"> 
  <ng-container *ngIf="dishes$ | async as awaitedDishes">
    <div *ngIf="awaitedDishes.length; else emptyBag">
      <div class="header" *ngIf="restaurant$ | async as restaurant">
        <p class="underlighted-text">Your order on</p>
        <strong class="restaurant-name">{{restaurant.name}}</strong>
      </div>
      <div *ngFor="let dish of awaitedDishes" class="margin-top">
        <div class="division"></div>
        <div class="margin-top margin-bottom">
          <div class="">{{dish.quantity}}x {{dish.name | uppercase}}</div>
          <div class="underlighted-text margin-description">{{dish.description}}</div>
          <div><h3 class="edit-button" cdkFocusInitial (click)="edit(dish)">Edit</h3>
            <h3 class="remove-button margin-left" (click)="remove(dish)">Remove</h3></div>
        </div>
      </div>
      <div class="division"></div>
      <div class="total subtotal-texts-display float-text-value">
        <div class="underlighted-text margin-8"><div>Subtotal</div> <div>{{currency$ | async}} {{dishesSubtotal$ | async | numberWithComma}}</div></div>
        <div class="underlighted-text margin-8"><div>Delivery fee</div> <div>{{currency$ | async}} {{deliveryFee$ | async | numberWithComma}}</div></div>
        <div class="underlighted-text margin-8 black"><div>Total</div> <div>{{currency$ | async}} {{dishesTotal$ | async | numberWithComma}}</div></div>
      </div>
      <div class="division"></div>
      <div [ngSwitch]="status$ | async" class="confirm-margin-bottom">
        <button *ngSwitchCase="'NONE'"
          mat-raised-button color="warn" class="complete-order" (click)="confirmOrder()">Complete order</button>
        <button *ngSwitchCase="'PENDING'"
          mat-raised-button class="complete-order pending"><mat-spinner class="pending-spinner"></mat-spinner></button>
        <button *ngSwitchCase="'SUCCESS'"
          mat-raised-button color="warn" class="complete-order success" (click)="confirmOrder()">Sucess ;D</button>
        <button *ngSwitchCase="'DECLINED'"
          mat-raised-button color="warn" class="complete-order declined" (click)="confirmOrder()">Declined... Try again</button>
      </div>
      
      
    </div>
    <ng-template #emptyBag>
      <div class="center">Your bag is empty!</div>
    </ng-template>
  </ng-container>
</div>