<div class="separate">
  <div mat-dialog-content>
    <h3>Select the amount of portions for you</h3>
    <div>{{data.name}}</div>
    <div>Quantity: {{quantity}}</div>
  </div>
  <div mat-dialog-actions class="space-evenly">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="less()">-</button>
    <button mat-button (click)="more()">+</button>
    <button mat-button (click)="confirm()" cdkFocusInitial *ngIf="!data['bagId']; else confirmEdit">Add to bag!</button>
    <ng-template #confirmEdit>
      <button mat-button (click)="confirm()" cdkFocusInitial>Confirm</button>
    </ng-template>
    
  </div>
</div>